apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
{% for host in groups.kube_master %}
  - ssh:
      address: {{ host }}
      user: {{ ansible_user }}
      port: 22
    role: controller
{% endfor %}
{% for host in groups.kube_worker %}
  - ssh:
      address: {{ host }}
      user: {{ ansible_user }}
      port: 22
    role: worker
{% endfor %}
  k0s:
    version: {{ k0s_version }}
